$paleParchment: #FDFDEC;
$chlorophyllGreen: #04461A;
$inkyJetChracoal: #10061A;
$pink: #CF9893;
$buttonRad: 40px;
$vidWid: 900px;
$vidHt: 750px; 
$rangeHt: $vidHt * .005;
$buttonFontSize: 15px;
$pSize: 30px;
$h2Size: 3rem;
$h3Size: 2rem;
$h4Size: 35px;
$frameImgWid: 700px;
$frameImgHt: 400px;
$marginShift: -20px;

@mixin insetShadow {
    // box-shadow: inset -3px -3px 10px 0.5px lighten($chlorophyllGreen, 0.5),
    box-shadow: inset -3px -3px 10px 0.5px lighten($inkyJetChracoal, 0.5),
        inset 3px 3px 10px 0.5px transparentize($inkyJetChracoal, 0.9);  
}

iframe ///~
{
  /* //1290px; 720px*/
    width: 2000px;
    height: 2000px;
//   border: 2px solid red;
}

// hide without display property, since it's overriden by grid 
// https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
.hidden {
    // display: none;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

a {
    text-decoration: none;
    color: $inkyJetChracoal;
}

body {
    background-color: $paleParchment;
    color: $inkyJetChracoal;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
	font-weight: 300;
    font-size: $pSize;
    font-style: normal;
    justify-content: center;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}

h2, h1 {
    font-size: $h2Size;
}

h1 {
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
    font-size: $h2Size;
}

h3, h2 {
    margin-top: 5%;
    font-size: $h3Size;
}

h4.label {
    font-size: $h4Size / 1.5;
}

h4.comingSoon {
    margin-top: 5%;
    font-size: $h4Size / 2;
}

// header 
.logo {
    margin-top: 8%;
    width: 30vw;
}

// hero section
.hero {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 13%;
    align-items: center;

    img {
        max-width: 83%;
    }
}

.heroNextArrow {
    margin-top: 3%;
}

.downScroll:hover {
    cursor: pointer;
}

// bug menu
.horizontalScrollParent {
    overflow: hidden;
    margin-bottom: 10%;

    .horizontalScroll {
        overflow-y: hidden;
        margin-bottom: -50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        overflow-x: scroll;
     
        .bug {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 1000px;
            margin: 5%;

            img {
                height: 300px;
                transition: all 0.7s ease-in-out;
            }

            img.comingSoon {
                filter: saturate(0.4);
            }

            img.comingSoon:hover {
                filter: saturate(0);
            }

            img.activeOption:hover {
                cursor: pointer;
                transform: scale(1.25);
            }
        }
    }
}

.menu {
    margin-top: 5%;
}

// video
video {
    // background-color: darken($chlorophyllGreen, 10);
    background-color: $paleParchment;
    width: $vidWid;
    height: $vidHt;
    margin-top: 5%;
    transform: scale(0.75);
}

.controlsRow {
    position: absolute;
}

.controls {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 20%;
    text-align: center;
    margin-top: $vidHt * -0.32;
}

button {
    font-size: $buttonFontSize;
    border-radius: 50%;
    width: $buttonRad;
    height: $buttonRad;
    border: none;
    color: $inkyJetChracoal;
    // color: $paleParchment;
    margin-top: $vidHt * .1;
    left: $vidWid / 2.5;
    font-family: 'Playfair Display SC', serif;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    // box-shadow: -3px -3px 13px 0.5px lighten($chlorophyllGreen, 0.5),
    box-shadow: -3px -3px 13px 0.5px lighten($paleParchment, 0.5),
        3px 3px 3px 0.5px transparentize($inkyJetChracoal, 0.5);  
}

button:hover {
    color: transparent;//~
    background-color: $inkyJetChracoal;
    cursor: pointer;
    // @include insetShadow();
}

button.speed {
    overflow-wrap: break-word;
    line-height: $buttonFontSize;
}

.scrubberCon {
    width: $vidWid * .7;
    margin-left: $vidWid * .15;
    border-radius: 5%;
    display: flex;
    
    input[type=range] {
        width: 100%;

        -webkit-appearance: none;
        -moz-appearance: none;
        height: $rangeHt;
        outline: none;

        position: relative;
        z-index: 2;
        // background-color: $paleParchment;  
        background-color: rgba(255, 255, 255, 0);  
    }

    // chrome range slider
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: $buttonRad / 3;
        height: $buttonRad / 3;
        background-color: $paleParchment;
        border-radius: 50%;
        cursor: pointer;
        transition: 1s ease-out;
    }

    input[type=range]::-webkit-slider-thumb:hover {
        @include insetShadow;
    }

    // video progress
    .progress {
        position: absolute;
        z-index: 1;
        width: 75.5%;
        height: $rangeHt;
        left: $vidWid * .15;
        top: 2px;
        background-color: lighten($chlorophyllGreen, 0.5);
        overflow: hidden;

        .seen {
            display: block;
            width: 0%;
            height: 100%;
            background-color: $paleParchment;
        }
    }

    .scrubberTime {
        color: $paleParchment;
        margin-top: -2px;
        margin-left: 80%;
        font-size: 13px;
        position: absolute;
    }
}

.swapVid {
    margin-top: 2%;
}

.swapVid:hover {
    cursor: pointer;
    text-decoration: underline;
}

.player {position: relative;}

img.rose {
    width: $vidWid / 2;
    position: absolute;
    margin-left: -123%;
    transform: rotate(-15deg);
}

// harmonia page
.container {
    header {
        .logo_pictogram {
            width: 4vw;
            margin-top: 2%;
            margin-left: 3%;
        }

        h1 {
            margin-top: -3%;
        }
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

// bug pagination sections
.harmoniaCon {
    display: flex;
    flex-direction: column;
    max-width: 100vw !important;
    overflow-x: hidden;
}

.caption {
    font-size: $pSize / 2;
    text-align: center;
}

.container {
    h2 {
        text-align: center;
    }

    .paginationCon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .page {
            margin: 0 5%;
        }

        .page1 {
            .ar {
                position: relative;
                model-viewer {
                    margin-top: 1.5%;
                    // height: 35vh;
                    width: 100vw;//~
                    height: 70vh;

                    // model-viewer attributes https://modelviewer.dev/docs/
                    --poster-color: $paleParchment;
                }
                .overlayText {
                    position: absolute;
                    z-index: 2;
                    top: 10%;
                    left: 10%;
                    width: 25%;
                    padding: 1.5%;
                    font-size: $pSize / 1.5;
                    background-color: transparentize($paleParchment, 0.4);
                }
            }
            .caption {
                margin-top: 1.5%;
            }
        }
        // word tree
        .page2 { 
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            
            .wordTree {
                margin-top: 0%;
                width: 50vw;
            }
        }
        .page3 {
            h2 {
                margin-left: -5%;
            }

            .caption {
                margin: 0 auto;
                text-align: center;
                margin-left: -5%;
                margin-top: $marginShift * -1.5;//- 10;
            }

            .harmoniaAnatomy1 {
                position: relative;
                max-width: 1000px;
                margin-top: $marginShift;

                .harmoniaImg {
                    position: relative;
                    margin-left: -80px;
                    max-width: 1000px;
                }

                .lensCon {
                    position: absolute;
                }
                
                .lens {
                    width: 50px; 
                    transition: transform 1s ease-in-out;
                }

                .lens:hover {
                    cursor: pointer;
                    transform: rotate(30deg);
                }

                // antenna
                .lens0 { top: 60px; left: 330px; }
                .info0 {  top: 50px; left: 235px; }
                
                // eye 
                .lens1 { top: 110px; left: 355px; }
                .info1 { top: 100px; left: 315px; }
                
                // prosternum 
                .lens2 { top: 150px; left: 360px; }
                .info2 { top: 140px; left: 223px; }
                
                // prosternal keel
                .lens3 { top: 180px; left: 390px; }
                .info3 { top: 170px; left: 220px; }
                
                // femur
                .lens4 { top: 320px; left: 470px; }
                .info4 { top: 310px; left: 395px; }

                // first abdominal segment
                .lens5 { top: 320px; left: 390px; }
                .info5 { top: 310px; left: 110px; }
                
                // tibia
                .lens6 { top: 400px; left: 510px; }
                .info6 { top: 390px; left: 455px; }

                // tarsus
                .lens7 { top: 450px; left: 530px; }
                .info7 { top: 440px; left: 455px; }

                // sixth abdominal segment
                .lens8 { top: 430px; left: 390px; }
                .info8 { top: 420px; left: 100px; }

                .lensInfo {
                    visibility: hidden;
                    position: absolute;
                    background-color: transparentize($paleParchment, 0.4);
                    border-radius: 10px;
                    padding: 5px;
                    font-size: $h4Size / 1.4;
                    h4 {
                        font-family: 'Open Sans', sans-serif;
                    }
                }
            }
        }
    }

    .page5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 5%;

        .xray {
            max-width: 100%;
            height: $frameImgHt;
            margin-top: 2.5%;
        }
    }

    .page4 {
        .caption {
            // margin-top: 2.5%;
            margin-top: $marginShift * -1.5;
            // text-align: center;
        }

        .frameSeqCon1 {
            margin-top: 2.5%;
            overflow-y: scroll;
            height: $frameImgHt;
            overflow-x: hidden;
            margin-right: 50px;

            .frameSeqCon2 {
                height: 4000px;
                position: relative;
                margin-right: -50px;
                padding-right: 50px;
            }

            .frameImg {
                height: $frameImgHt;
                position: -webkit-sticky;
                position: -moz-sticky;
                position: sticky;
                top: 0;
                left: 0;
            }
        }
    }
    .page5 {
        .xrayConCon {
            width: 900px;
            margin: 0 auto;
            border: solid 1px black;
            .xrayCon {
                position: relative;
                width: 900px;//~
                height: 400px;
                // background-color: red;
                .xrayImg {
                    position: absolute;
                    width: 900px;
                    height: 400px;
                // height: ;
                   
                    .imgScrubber {
                        background-color: red;//~
                        left: 50%;
                        width: 2px;//~
                        cursor: pointer;
                    }
                }
            }
            .imgBottom {
                background: url(../images/harmonia/harmonia_xray.png) no-repeat;
            }

            .imgTop {
                background: url(../images/harmonia/harmonia__xray_1.png) no-repeat;
                width: 50%;//~
            }

        }
    }
    .selectedPage {
        cursor: pointer;
        background-color: transparent;
    }

    nav {
        width: 400px;
        height: 50px;
        margin-left: 40vw;
        text-align: center;
        position: relative;

        ul.paginationNav {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            position: fixed;
            top: 50%;
            left: 5%;
            z-index: 5;

            li div {
                background-color: $inkyJetChracoal;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid $inkyJetChracoal;
                margin: 15px;
            }

            li div.selected {
                background-color: transparent;
            }

            li div:hover {
                @extend .selectedPage;
            }
        }
    }
}

// globe
.visContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 10%;
  
    .overlayRange {
      background-color: $paleParchment;
      padding: 3px 20px;
      border-radius: 10px;
      box-shadow: 2px 0px 10px 10px transparentize($inkyJetChracoal, 0.9);
      position: absolute;
      margin-top: 15%;
      z-index: 3;
  
      input[type=range] {
        margin-top: 1%;
        width: 100%;
      }
      
      label {
        font-size: 1.3rem;
      }

      .feedback {
          font-size: 1.7rem;
          text-align: center;
      }
    }
  
  }

#datGui {
    ul {
      li {
        background-color: $paleParchment;
        color: $inkyJetChracoal;
        font-family: 'Open Sans', sans-serif;
        text-shadow: none;
        font-size: 1rem;
      }
      .slider {
        background-color: $paleParchment;
      }
      .slider-fg {
        background-color: $inkyJetChracoal;
      }
      input[type=text] {
        font-family: 'Open Sans', sans-serif;
        color: $paleParchment;
      }
    }
    .close-button {
      font-size: 1rem;
      font-family: 'Open Sans', sans-serif;
    }
  }

footer {
    ul {
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        
        li {
            margin-right: 2%;
        }

        li:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}