$paleParchment: #FDFDEC;
$chlorophyllGreen: #04461A;
$inkyJetChracoal: #10061A;
$pink: #CF9893;
$buttonRad: 40px;
$vidWid: 900px;
$vidHt: 750px; 
$rangeHt: $vidHt * .005;
$buttonFontSize: 15px;
$pSize: 30px;
$h2Size: 3rem;
$h3Size: 2rem;
$h4Size: 35px;
$frameImgWid: 700px;
$frameImgHt: 400px;
$marginShift: -20px;
$imgWidth: 1280px;
$imgHeight: 720px;

@mixin insetShadow {
    // box-shadow: inset -3px -3px 10px 0.5px lighten($chlorophyllGreen, 0.5),
    box-shadow: inset -3px -3px 10px 0.5px lighten($inkyJetChracoal, 0.5),
        inset 3px 3px 10px 0.5px transparentize($inkyJetChracoal, 0.9);  
}
iframe {
    margin-top: 2.5%;
    width: $imgWidth / 1.5;
    height: $imgHeight - 200;
}

// hide without display property, since it's overriden by grid 
// https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
.hidden {
    // display: none;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

a {
    text-decoration: underline;
    color: $inkyJetChracoal;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: $paleParchment;
    color: $inkyJetChracoal;
    font-family: 'Open Sans', sans-serif;
}

// .bold { font-weight: bold; }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
	font-weight: 300;
    font-size: $pSize;
    font-style: normal;
    justify-content: center;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}

h2, h1 {
    font-size: $h2Size;
}

h1 {
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
    font-size: $h2Size;
}

h3, h2 {
    margin-top: 5%;
    font-size: $h3Size;
}

h4.label {
    font-size: $h4Size / 1.5;
}

h4.comingSoon {
    margin-top: 5%;
    font-size: $h4Size / 2;
}

// header 
.logo {
    margin-top: 8%;
    width: 30vw;
}

// hero section
.hero {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 13%;
    align-items: center;

    img {
        max-width: 83%;
    }
}

.heroNextArrow {
    margin-top: 3%;
}

.downScroll:hover {
    cursor: pointer;
}

// bug menu
.horizontalScrollParent {
    overflow: hidden;
    margin-bottom: 10%;

    .horizontalScroll {
        overflow-y: hidden;
        margin-bottom: -50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        overflow-x: scroll;
     
        .bug {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 1000px;
            margin: 5%;

            img {
                height: 300px;
                transition: all 0.7s ease-in-out;
            }

            img.comingSoon {
                filter: saturate(0.4);
            }

            img.comingSoon:hover {
                filter: saturate(0);
            }

            img.activeOption:hover {
                cursor: pointer;
                transform: scale(1.25);
            }
        }
    }
}

.menu {
    margin-top: 5%;
}

// harmonia page
.container {
    header {
        .logo_pictogram {
            width: 4vw;
            margin-top: 2%;
            margin-left: 3%;
        }

        h1 {
            margin-top: -3%;
        }
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

// bug pagination sections
.harmoniaCon {
    display: flex;
    flex-direction: column;
    max-width: 100vw !important;
    overflow-x: hidden;
}

.caption {
    font-size: $pSize / 2;
    text-align: center;
}

.container {
    h2 {
        text-align: center;
    }

    .paginationCon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .page {
            margin: 0 5%;
        }
        .overlayText {
            position: absolute;
            z-index: 2;
            top: 10%;
            left: 10%;
            width: 25%;
            padding: 1.5%;
            font-size: $pSize / 1.5;
            background-color: transparentize($paleParchment, 0.4);
        }
        .page1 {
            .ar {
                position: relative;
                model-viewer {
                    margin-top: 1.5%;
                    // height: 35vh;
                    width: 100vw;//~
                    height: 70vh;

                    // model-viewer attributes https://modelviewer.dev/docs/
                    --poster-color: $paleParchment;
                }
            }
            .caption {
                margin-top: 1.5%;
            }
        }
        // word tree
        .page2 { 
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            
            .caption {
                margin-top: 1.5%;
            }

            .wordTree {
                // border: red 2px solid;
                margin-top: 0%;
                width: 60vw;
            }
        }
        .page5 {
            .caption {
                margin: 0 auto;
                text-align: center;
                margin-top: $marginShift * -1.5;
            }

            .harmoniaAnatomy1 {
                position: relative;
                max-width: 1000px;
                margin-top: $marginShift;

                .harmoniaImg {
                    position: relative;
                    margin-left: -80px;
                    max-width: 1000px;
                }

                .lensCon {
                    position: absolute;
                }
                
                .lens {
                    width: 50px; 
                    transition: transform 1s ease-in-out;
                }

                .lens:hover {
                    cursor: pointer;
                    transform: rotate(30deg);
                }

                // antenna
                .lens0 { top: 60px; left: 330px; }
                .info0 {  top: 50px; left: 235px; }
                
                // eye 
                .lens1 { top: 110px; left: 355px; }
                .info1 { top: 100px; left: 315px; }
                
                // prosternum 
                .lens2 { top: 150px; left: 360px; }
                .info2 { top: 140px; left: 223px; }
                
                // prosternal keel
                .lens3 { top: 180px; left: 390px; }
                .info3 { top: 170px; left: 220px; }
                
                // femur
                .lens4 { top: 320px; left: 470px; }
                .info4 { top: 310px; left: 395px; }

                // first abdominal segment
                .lens5 { top: 320px; left: 390px; }
                .info5 { top: 310px; left: 110px; }
                
                // tibia
                .lens6 { top: 400px; left: 510px; }
                .info6 { top: 390px; left: 455px; }

                // tarsus
                .lens7 { top: 450px; left: 530px; }
                .info7 { top: 440px; left: 455px; }

                // sixth abdominal segment
                .lens8 { top: 430px; left: 390px; }
                .info8 { top: 420px; left: 100px; }

                .lensInfo {
                    visibility: hidden;
                    position: absolute;
                    background-color: transparentize($paleParchment, 0.4);
                    border-radius: 10px;
                    padding: 5px;
                    font-size: $h4Size / 1.4;
                    h4 {
                        font-family: 'Open Sans', sans-serif;
                    }
                }
            }
        }
    }

    .page5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 5%;

        .xray {
            max-width: 100%;
            height: $frameImgHt;
            margin-top: 2.5%;
        }
    }

    .page6 {
        .caption {
            // margin-top: 2.5%;
            margin-top: $marginShift * -1.5;
            // text-align: center;
        }

        .frameSeqCon1 {
            margin-top: 2.5%;
            overflow-y: scroll;
            height: $frameImgHt;
            overflow-x: hidden;
            margin-right: 50px;

            .frameSeqCon2 {
                height: 4000px;
                position: relative;
                margin-right: -50px;
                padding-right: 50px;
            }

            .frameImg {
                height: $frameImgHt;
                position: -webkit-sticky;
                position: -moz-sticky;
                position: sticky;
                top: 0;
                left: 0;
            }
        }
    }
    .page7 {
        .xrayConCon {
            width: $imgWidth;
            margin: 0 auto;
            .xrayCon {
                position: relative;
                width: $imgWidth;
                height: $imgHeight;
                transform: scale(0.75);
                .xrayImg {
                    position: absolute;
                    width: $imgWidth;
                    height: $imgHeight;

                    &.imgScrubber {
                        background-color: transparentize($inkyJetChracoal, 0.5);
                        left: 50%;
                        width: 10px;//~
                        height: $imgHeight;
                        border-radius: 20px;
                        cursor: pointer;
                        position: relative;

                        .circleScrubber {
                            position: absolute;
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            top: 40%;
                            left: -20px;
                            background-color: transparentize($inkyJetChracoal, 0.5);
                            animation: pulse 2s infinite alternate ease-in-out;
                        }

                        .paused {
                            animation-play-state: paused;
                        }

                        @keyframes pulse {
                            0% { transform: scale(1); }
                            100% {
                                box-shadow: 0 0 30px $pink;
                                transform: scale(1.5);
                            }
                        }
                    }

                    &.imgBottom {
                        background: url(../images/harmonia/harmonia_xray.png) no-repeat;
                    }

                    &.imgTop {
                        background: url(../images/harmonia/harmonia__xray_1.png) no-repeat;
                        width: 50%;
                    }
                }
            }
        
        }
    }
    .selectedPage {
        cursor: pointer;
        background-color: transparent;
    }

    nav {
        width: 400px;
        height: 50px;
        margin-left: 40vw;
        text-align: center;
        position: relative;

        ul.paginationNav {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            position: fixed;
            top: 40%;
            left: 5%;
            z-index: 5;

            li div {
                background-color: $inkyJetChracoal;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid $inkyJetChracoal;
                margin: 15px;
            }

            li div.selected {
                background-color: transparent;
            }

            li div:hover {
                @extend .selectedPage;
            }
        }
        &.textMenuCon {
            position: relative;

            .textMenu {
                position: fixed;
                display: flex;
                flex-direction: row;
                width: 400px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding: 15px 0;
                transform: rotate(90deg);
                // margin-top: -83%;
                // margin-left: 95%;
                
                top: 60%;
                right: -7%;
    
                li {
                    font-size: $pSize / 2;
                    line-height: $pSize;
                    margin-right: 15px;
                }
    
                a {
                    text-decoration: none;
                }

                a.selected {
                    text-decoration: underline;
                }
            }
        }
        
    }
}

// habitat
.page4 {
    .overlayText {
        margin-top: 20%;
        width: $imgWidth / 3.5 !important;
        .fiction {
            font-size: 0.9rem;
        }
    }

    // globe
    .visContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        margin-top: 0%;
        width: $imgWidth;
        height: $imgHeight;

        .overlayRange {
        background-color: transparentize($paleParchment, 0.1);
        padding: 3px 20px;
        border-radius: 10px;
        //   box-shadow: 2px 0px 100px 10px transparentize($inkyJetChracoal, 0.9);
        position: absolute;
        margin-top: 5%;
        z-index: 3;
    
        input[type=range] {
            margin-top: 1%;
            width: 100%;
        }
        
        label {
            font-size: 1.3rem;
        }

        .feedback {
            font-size: 1.7rem;
            text-align: center;
        }
        }
    }
}

.page3 {
    position: relative;

    .overlayText {
        margin-top: 10%;
        margin-left: 30%;
        background-color: $paleParchment !important;
    }

    .dietCon {
        width: 100vw;
        height: $imgHeight;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1.5%;

        .dietBox {
            // margin-right: 0;//.001px;
            background-color: $inkyJetChracoal;
            width: $imgWidth / 100;
            height: $imgHeight / 70;
            transform: scale(0.25);
        }
    }

    .htImg {
        position: absolute;
        width: $imgWidth / 4;
        top: 10%;
        z-index: 3;
    }

}

#datGui {
    margin-top: 25%;
    margin-right: 10%;
    border-top: 5px solid $inkyJetChracoal;
    display: none;

    ul {
        padding: 10% 0;
        li {
            border: none;
            background-color: $paleParchment;
            color: $inkyJetChracoal;
            font-family: 'Open Sans', sans-serif;
            text-shadow: none;
            font-size: 1rem;
        }
        .slider {
            background-color: $paleParchment;
        }
        .slider-fg {
            background-color: $inkyJetChracoal;
        }
        input[type=text] {
            font-family: 'Open Sans', sans-serif;
            color: $paleParchment;
        }
    }
    .close-button {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    }
}

footer {
    ul {
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        
        li {
            margin-right: 2%;
        }

        li:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}