iframe {
  margin-top: 2.5%;
  width: 853.3333333333px;
  height: 520px;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

a {
  text-decoration: none;
  color: #10061A;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #FDFDEC;
  color: #10061A;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
  justify-content: center;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

h2, h1 {
  font-size: 3rem;
}

h1 {
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 3rem;
}

h3, h2 {
  margin-top: 5%;
  font-size: 2rem;
}

h4.label {
  font-size: 23.3333333333px;
}

h4.comingSoon {
  margin-top: 5%;
  font-size: 17.5px;
}

.logo {
  margin-top: 8%;
  width: 30vw;
}

.hero {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 13%;
  align-items: center;
}
.hero img {
  max-width: 83%;
}

.heroNextArrow {
  margin-top: 3%;
}

.downScroll:hover {
  cursor: pointer;
}

.horizontalScrollParent {
  overflow: hidden;
  margin-bottom: 10%;
}
.horizontalScrollParent .horizontalScroll {
  overflow-y: hidden;
  margin-bottom: -50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow-x: scroll;
}
.horizontalScrollParent .horizontalScroll .bug {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1000px;
  margin: 5%;
}
.horizontalScrollParent .horizontalScroll .bug img {
  height: 300px;
  transition: all 0.7s ease-in-out;
}
.horizontalScrollParent .horizontalScroll .bug img.comingSoon {
  filter: saturate(0.4);
}
.horizontalScrollParent .horizontalScroll .bug img.comingSoon:hover {
  filter: saturate(0);
}
.horizontalScrollParent .horizontalScroll .bug img.activeOption:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.menu {
  margin-top: 5%;
}

video {
  background-color: #FDFDEC;
  width: 900px;
  height: 750px;
  margin-top: 5%;
  transform: scale(0.75);
}

.controlsRow {
  position: absolute;
}

.controls {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 20%;
  text-align: center;
  margin-top: -240px;
}

button {
  font-size: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  color: #10061A;
  margin-top: 75px;
  left: 360px;
  font-family: "Playfair Display SC", serif;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: -3px -3px 13px 0.5px #fdfdee, 3px 3px 3px 0.5px rgba(16, 6, 26, 0.5);
}

button:hover {
  color: transparent;
  background-color: #10061A;
  cursor: pointer;
}

button.speed {
  overflow-wrap: break-word;
  line-height: 15px;
}

.scrubberCon {
  width: 630px;
  margin-left: 135px;
  border-radius: 5%;
  display: flex;
}
.scrubberCon input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 3.75px;
  outline: none;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
}
.scrubberCon input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13.3333333333px;
  height: 13.3333333333px;
  background-color: #FDFDEC;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease-out;
}
.scrubberCon input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: inset -3px -3px 10px 0.5px #11061c, inset 3px 3px 10px 0.5px rgba(16, 6, 26, 0.1);
}
.scrubberCon .progress {
  position: absolute;
  z-index: 1;
  width: 75.5%;
  height: 3.75px;
  left: 135px;
  top: 2px;
  background-color: #04481b;
  overflow: hidden;
}
.scrubberCon .progress .seen {
  display: block;
  width: 0%;
  height: 100%;
  background-color: #FDFDEC;
}
.scrubberCon .scrubberTime {
  color: #FDFDEC;
  margin-top: -2px;
  margin-left: 80%;
  font-size: 13px;
  position: absolute;
}

.swapVid {
  margin-top: 2%;
}

.swapVid:hover {
  cursor: pointer;
  text-decoration: underline;
}

.player {
  position: relative;
}

img.rose {
  width: 450px;
  position: absolute;
  margin-left: -123%;
  transform: rotate(-15deg);
}

.container header .logo_pictogram {
  width: 4vw;
  margin-top: 2%;
  margin-left: 3%;
}
.container header h1 {
  margin-top: -3%;
}
.container main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.harmoniaCon {
  display: flex;
  flex-direction: column;
  max-width: 100vw !important;
  overflow-x: hidden;
}

.caption {
  font-size: 15px;
  text-align: center;
}

.container h2 {
  text-align: center;
}
.container .paginationCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .paginationCon .page {
  margin: 0 5%;
}
.container .paginationCon .overlayText {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 10%;
  width: 25%;
  padding: 1.5%;
  font-size: 20px;
  background-color: rgba(253, 253, 236, 0.6);
}
.container .paginationCon .page1 .ar {
  position: relative;
}
.container .paginationCon .page1 .ar model-viewer {
  margin-top: 1.5%;
  width: 100vw;
  height: 70vh;
  --poster-color: $paleParchment;
}
.container .paginationCon .page1 .caption {
  margin-top: 1.5%;
}
.container .paginationCon .page2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.container .paginationCon .page2 .wordTree {
  margin-top: 0%;
  width: 60vw;
}
.container .paginationCon .page3 h2 {
  margin-left: -5%;
}
.container .paginationCon .page3 .caption {
  margin: 0 auto;
  text-align: center;
  margin-left: -5%;
  margin-top: 30px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 {
  position: relative;
  max-width: 1000px;
  margin-top: -20px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .harmoniaImg {
  position: relative;
  margin-left: -80px;
  max-width: 1000px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lensCon {
  position: absolute;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens {
  width: 50px;
  transition: transform 1s ease-in-out;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens:hover {
  cursor: pointer;
  transform: rotate(30deg);
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens0 {
  top: 60px;
  left: 330px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info0 {
  top: 50px;
  left: 235px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens1 {
  top: 110px;
  left: 355px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info1 {
  top: 100px;
  left: 315px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens2 {
  top: 150px;
  left: 360px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info2 {
  top: 140px;
  left: 223px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens3 {
  top: 180px;
  left: 390px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info3 {
  top: 170px;
  left: 220px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens4 {
  top: 320px;
  left: 470px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info4 {
  top: 310px;
  left: 395px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens5 {
  top: 320px;
  left: 390px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info5 {
  top: 310px;
  left: 110px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens6 {
  top: 400px;
  left: 510px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info6 {
  top: 390px;
  left: 455px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens7 {
  top: 450px;
  left: 530px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info7 {
  top: 440px;
  left: 455px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lens8 {
  top: 430px;
  left: 390px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .info8 {
  top: 420px;
  left: 100px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lensInfo {
  visibility: hidden;
  position: absolute;
  background-color: rgba(253, 253, 236, 0.6);
  border-radius: 10px;
  padding: 5px;
  font-size: 25px;
}
.container .paginationCon .page3 .harmoniaAnatomy1 .lensInfo h4 {
  font-family: "Open Sans", sans-serif;
}
.container .page5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.container .page5 .xray {
  max-width: 100%;
  height: 400px;
  margin-top: 2.5%;
}
.container .page4 .caption {
  margin-top: 30px;
}
.container .page4 .frameSeqCon1 {
  margin-top: 2.5%;
  overflow-y: scroll;
  height: 400px;
  overflow-x: hidden;
  margin-right: 50px;
}
.container .page4 .frameSeqCon1 .frameSeqCon2 {
  height: 4000px;
  position: relative;
  margin-right: -50px;
  padding-right: 50px;
}
.container .page4 .frameSeqCon1 .frameImg {
  height: 400px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
.container .page5 .xrayConCon {
  width: 1280px;
  margin: 0 auto;
}
.container .page5 .xrayConCon .xrayCon {
  position: relative;
  width: 1280px;
  height: 720px;
  transform: scale(0.75);
}
.container .page5 .xrayConCon .xrayCon .xrayImg {
  position: absolute;
  width: 1280px;
  height: 720px;
}
.container .page5 .xrayConCon .xrayCon .xrayImg.imgScrubber {
  background-color: rgba(16, 6, 26, 0.5);
  left: 50%;
  width: 10px;
  height: 720px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.container .page5 .xrayConCon .xrayCon .xrayImg.imgScrubber .circleScrubber {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 40%;
  left: -20px;
  background-color: rgba(16, 6, 26, 0.5);
}
.container .page5 .xrayConCon .xrayCon .xrayImg.imgBottom {
  background: url(../images/harmonia/harmonia_xray.png) no-repeat;
}
.container .page5 .xrayConCon .xrayCon .xrayImg.imgTop {
  background: url(../images/harmonia/harmonia__xray_1.png) no-repeat;
  width: 50%;
}
.container .selectedPage, .container nav ul.paginationNav li div:hover {
  cursor: pointer;
  background-color: transparent;
}
.container nav {
  width: 400px;
  height: 50px;
  margin-left: 40vw;
  text-align: center;
  position: relative;
}
.container nav ul.paginationNav {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 5%;
  z-index: 5;
}
.container nav ul.paginationNav li div {
  background-color: #10061A;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #10061A;
  margin: 15px;
}
.container nav ul.paginationNav li div.selected {
  background-color: transparent;
}
.container nav .textMenuCon {
  position: relative;
}
.container nav .textMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 400px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  transform: rotate(90deg);
  margin-top: -83%;
  margin-left: 95%;
}
.container nav .textMenu li {
  font-size: 15px;
  line-height: 30px;
  margin-right: 15px;
}
.container nav .textMenu a:hover {
  cursor: default;
  text-decoration: none;
}
.container nav .textMenu a.selected {
  text-decoration: underline;
}

.page6 .overlayText {
  margin-top: 20%;
  width: 365.7142857143px !important;
}
.page6 .overlayText .fiction {
  font-size: 0.9rem;
}
.page6 .visContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 0%;
  width: 1280px;
  height: 720px;
}
.page6 .visContainer .overlayRange {
  background-color: rgba(253, 253, 236, 0.9);
  padding: 3px 20px;
  border-radius: 10px;
  position: absolute;
  margin-top: 5%;
  z-index: 3;
}
.page6 .visContainer .overlayRange input[type=range] {
  margin-top: 1%;
  width: 100%;
}
.page6 .visContainer .overlayRange label {
  font-size: 1.3rem;
}
.page6 .visContainer .overlayRange .feedback {
  font-size: 1.7rem;
  text-align: center;
}

.page7 .overlayText {
  margin-top: 15%;
  margin-left: 30%;
  background-color: #fdfdec;
}
.page7 .dietCon {
  width: 100vw;
  height: 720px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5%;
}
.page7 .dietCon .dietBox {
  background-color: #10061A;
  width: 12.8px;
  height: 10.2857142857px;
  transform: scale(0.25);
}

#datGui {
  margin-top: 25%;
  margin-right: 5%;
  border-top: 5px solid #10061A;
  display: none;
}
#datGui ul {
  padding: 10% 0;
}
#datGui ul li {
  border: none;
  background-color: #FDFDEC;
  color: #10061A;
  font-family: "Open Sans", sans-serif;
  text-shadow: none;
  font-size: 1rem;
}
#datGui ul .slider {
  background-color: #FDFDEC;
}
#datGui ul .slider-fg {
  background-color: #10061A;
}
#datGui ul input[type=text] {
  font-family: "Open Sans", sans-serif;
  color: #FDFDEC;
}
#datGui .close-button {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

footer ul {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}
footer ul li {
  margin-right: 2%;
}
footer ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
