/* #container
{
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
} */

iframe
{
  /* //1290px; 720px*/
	width: 2000px;
  height: 2000px;
}

body {
  height: 5000px; /*controls vertical scrolling height*/
}

canvas {
	/*make sure cancas stays on screen while scrolling*/

	/*old school absolute centering trick*/
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}